/* * {
    outline: 1px solid red;
} */


.container {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.intermediate {
    flex-basis: 30%;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(244, 226, 204);
    box-shadow: 10px 0px 10px 0px rgba(227, 219, 239, 0.87);
    margin: 20px 0px;
    padding: 15px 5px;
}

.intermediate button {
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: azure;
    box-shadow: 2px 0px 2px 0px rgba(227, 219, 239, 0.87);
    font-size: 12px;

}

.course-text {
    text-align: center;
    margin: 15px auto;

}

.course-text p {
    font-weight: lighter;
}

.facility-text {
    text-align: center;
    padding: 50px 0;
}

.facility-text p {
    font-weight: lighter;
}

.facilities-image {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
}

.facility-col {
    flex-basis: 30%;
}

.facility-col img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 10px 0px 10px 0px rgba(227, 219, 239, 0.87);
    border: 5ps solid red;

}

.facility-col h5 {
    text-align: center;
}

.facility-col p {
    font-weight: 100;
    text-align: center;
}

/*------------what our student say----------------*/

.student-says {
    text-align: center;
    padding: 20px;

}

.student-review-wrapper {
    display: flex;
    flex-basis: 48%;
    max-width: 1100px;
    gap: 10px;
    margin: auto;
}

.st-1,
.st-2 {
    display: flex;
    margin: auto;
    background-color: rgb(244, 226, 204);
    box-shadow: 10px 0px 10px 0px rgba(227, 219, 239, 0.87);
    border-radius: 10px;
}

.st-image img {
    border-radius: 50%;
    max-width: 50px;
    padding: 8px;
}

.student-review .fa {
    color: #f44336;
}

.student-review p {
    padding: 5px;
}

/* --------- */

.contact-us-wrapper {
    text-align: center;
    margin-top: 30px;
    padding-top: 40px;
}

.row-wrapper {
    display: flex;
    max-width: 800px;
    justify-content: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 10px;
}

.address .fa {
    color: #f44336;
    font-size: 30px;
}

.fild-set input {
    padding: 10px 40px;
    margin-top: 20px;
    border: 1px solid burlywood;
    border-radius: 10px;


}

.right-form .btn {
    background-color: rgb(248, 138, 94);
    font-size: 15px;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(231, 184, 184, 0.1);
    text-align: center;
}



@media screen and (min-width: 200px) and (max-width: 767px) {
    .container {
        max-width: 100%;
        flex-direction: column;
    }

    .facilities-image {
        max-width: 100%;
        flex-direction: column;
        margin: 10px;
    }

    .student-review-wrapper {
        flex-direction: column;
        max-width: 100%;
        margin: 10px;
    }

    .row-wrapper {
        max-width: 100%;
        flex-direction: column;
        overflow-y: hidden;
    }

    .address-row {
        margin: auto;
    }

    .right-form {
        margin: auto;
    }

    .right-form .btn {
        margin-left: 62px;
    }

}